.App {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 5px -2px gray;
}

.nav a {
  padding: 20px;
  text-decoration: none;
  color: black;
}