.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 5px -2px gray;
}

.nav a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

.storeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  /* maybe percent max */
  max-width: 300px;
  margin: 10px;
}

.card:hover {
  cursor: pointer;
}

.cardImg {
  max-height: 300px;
  overflow: hidden;
}

